<table class="min-w-full divide-y divide-gray-300">
  <thead>
    <tr>
      <th
        hx-get="/sort?mode=name.ascending"
        id="sort-name"
        scope="col"
        class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold whitespace-nowrap text-gray-900 sm:pl-0"
      >
        File
      </th>
      <th
        hx-get="/sort?mode=size.ascending"
        id="sort-size"
        scope="col"
        class="px-2 py-3.5 text-left text-sm font-semibold whitespace-nowrap text-gray-900"
      >
        <a href="#" class="group inline-flex">
          Size
          <!-- Active: "bg-gray-200 text-gray-900 group-hover:bg-gray-300", Not Active: "invisible text-gray-400 group-hover:visible group-focus:visible" -->
          <span
            class="ml-2 flex-none rounded-sm bg-gray-100 text-gray-900 group-hover:bg-gray-200"
          >
            <svg
              class="size-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </a>
      </th>
      <th
        hx-get="/sort?mode=modified.ascending"
        id="sort-modified"
        scope="col"
        class="px-2 py-3.5 text-left text-sm font-semibold whitespace-nowrap text-gray-900"
      >
        Modified
      </th>
      <th
        scope="col"
        class="relative py-3.5 pr-4 pl-3 whitespace-nowrap sm:pr-0"
      >
        <span class="sr-only">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200 bg-white">
    {% for file in files %}
      <tr class="hover:bg-gray-100">
        {% if file.is_directory %}
          <td
            hx-get="/files/{{ file.path }}{{ file.name }}"
            hx-target="table"
            hx-push-url="?path={{ file.path }}/{{ file.name }}"
            class="cursor-pointer py-2 pr-3 pl-4 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-0"
          >
            {{ file.name }}
          </td>
        {% else %}
          <td
            class="cursor-pointer py-2 pr-3 pl-4 text-sm font-medium text-gray-900 whitespace-nowrap sm:pl-0"
          >
            {{ file.name }}
          </td>
        {% endif %}
        <td class="px-2 py-2 text-sm whitespace-nowrap text-gray-900">
          {% if !file.is_directory %}{{ file.size|format_size }}{% else %}{{ "---" }}{% endif %}
        </td>
        <td
          class="px-2 py-2 text-sm font-medium whitespace-nowrap text-gray-900 modified"
        >
          {{ file.modified }}
        </td>
        <td
          class="relative py-2 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-0"
        >
          <button
            hx-get="/editor?path={{ file.path }}&file={{ file.name }}"
            hx-trigger="click"
            hx-target="body"
            class="cursor-pointer inline-flex items-center rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 disabled:cursor-not-allowed disabled:opacity-30 disabled:hover:bg-white"
          >
            Edit<span class="sr-only"> file</span>
          </button>

          <button
            hx-delete="/delete?path={{ file.path }}&file={{ file.name }}"
            hx-trigger="click[altKey]"
            hx-target="closest tr"
            type="button"
            class="cursor-pointer inline-flex items-center rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 disabled:cursor-not-allowed disabled:opacity-30 disabled:hover:bg-white"
          >
            Delete<span class="sr-only"> file</span>
          </button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<button
  hx-get="/video"
  hx-target="#video-container"
  hx-swap="innerHTML"
  class="cursor-pointer"
>
  Show Video
</button>

<div id="video-container"></div>
